<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Xayona Website Template</title>
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
		<!--[if IE 7]>
			<link rel="stylesheet" href="css/ie7.css" type="text/css" />
		<![endif]-->
	</head>
	<body>
		<div class="page">
			<div class="header">
				<a href="/home" id="logo"><img src="images/logo.gif" alt=""/></a>
				<ul>
					<li class="selected"><a href="/home">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="http://cargocollective.com/lollygagging">Blog</a></li>
					<li><a href="services.html">Services</a></li>
				</ul>
			</div>
			<div class="body">
				<div id="featured">
					<h3>Let's get serious!</h3>
					<p>"Look again at that dot. That's here. That's home. That's us. On it everyone you love, everyone you know, everyone you ever heard of, every human being who ever was, lived out their lives. The aggregate of our joy and suffering, thousands of confident religions, ideologies, and economic doctrines, every hunter and forager, every hero and coward, every creator and destroyer of civilization, every king and peasant, every young couple in love, every mother and father, hopeful child, inventor and explorer, every teacher of morals, every corrupt politician, every "superstar," every "supreme leader," every saint and sinner in the history of our species lived there--on a mote of dust suspended in a sunbeam." -Carl Sagan</p>
					<input type="button" value="Read more" onClick="parent.location='http://cargocollective.com/lollygagging'"/>
				</div>
				<ul class="blog">
					<li>
						<div>
							<a href="blog.html"><img src="images/pastries.jpg" alt=""/></a>
							<p>This is a test and I hope it works.<br><br><br></p>
							<a href="blog.html">Click to read more</a>
						</div>
					</li>
					<li>
						<div>
							<a href="blog.html"><img src="images/fruits.jpg" alt=""/></a>
							<p>This website template has been designed by Free Website Templates for you, for free. 
							You can replace all this text with your own text.</p>
							<a href="blog.html">Click to read more</a>
						</div>
					</li>
					<li>
						<div>
							<a href="blog.html"><img src="images/cosmetics.jpg" alt=""/></a>
							<p>This website template has been designed by Free Website Templates for you, for free. 
							You can replace all this text with your own text.</p>
							<a href="blog.html">Click to read more</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="footer">
				<ul>
					<li><a href="/home">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="http://cargocollective.com/lollygagging">Blog</a></li>
					<li><a href="services.html">Gallery</a></li>
				</ul>
				<p>&#169; Copyright &#169; 2012. Company name all rights reserved</p>
				<div class="connect">
					<a href="http://facebook.com/whuey" id="facebook">facebook</a>
					<a href="http://twitter.com/waidailo" id="twitter">twitter</a>
					<a href="http://www.youtube.com/fwtemplates" id="vimeo">vimeo</a>
				</div>
			</div>
		</div>
	</body>
</html>  
